:root {
    --grey: dimgrey;
    --blue: skyblue;
    --blue-grey: #4073a0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
}

header section{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 20px 0px;
}

nav {
    flex:1;
}

header li {
    display: inline;
    color: var(--blue);
    text-decoration: underline 3px;
    margin: 10px;
}

header figure {
    position: relative
}

p {
    margin: 10px;
    padding: 25px;
}

.columns {
    display: flex;
    flex-direction: row;
}

.work-links {
    display: flex;
    flex: 1 0 50%;
    width: 50%;
    height: 25vh;
}

.contact-links {
    display: inline;
    text-decoration: underline 3px var(--blue-grey);
    margin: 10px;
    padding: 25px;
}

#my-name {
    background-color: var(--blue);
    color: var(--grey);
    font-size: 40px;
    text-align: right;
    padding: 5px;
    height: 60px;
    margin: 20px 10px 10px 0px;
    width: 400px;
}

#pagenav {
    display: flex;
    justify-content: end;
    align-content: flex-end;
    height: 90px;
    flex-wrap: wrap;
    margin: 0px 20px;
}

#headerimg {
    height: 200px;
    width: 100vw;
}

#subtitle {
    background-color: var(--blue);
    color: var(--grey);
    font-size: 20px;
    text-align: center;
    padding: 5px;
    width: 250px;
    height: 50px;
    position: absolute;
    right: 50px;
    bottom: 25px;
}

#about-me {
    color: var(--blue-grey);
    border-right: solid;
    text-align: right;
    margin: 35px 0px 35px 90px;
    padding: 0px 15px 25px;
    font-size: 30px;
}

#work {
    color: var(--blue-grey);
    border-right: solid;
    text-align: right;
    margin: 35px 0px 35px 125px;
    padding: 0px 15px 25px;
    font-size: 30px;
}

#contact-me {
    color: var(--blue-grey);
    border-right: solid;
    text-align: right;
    margin: 35px 0px 35px 30px;
    padding: 0px 15px 25px;
    font-size: 30px;
}

#contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 40px 40px 0px;
}

#work-opts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

#top-work {
    display: flex;
    flex: 2 1 auto;
    max-width: 100%;
}